:root {
    --navbar-background-lighter: #ac124a;
    --welcome-section-background: #022e39;
    --welcome-header: #fff;
    --welcome-subheader: #d94b58;
    --projects-background: #044b55;
    --contact-section-bg: #32435f
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#navbar {
    background-color: var(--navbar-background-lighter);
    font-family: "Lato", sans-serif;
    direction: rtl;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#navbar a {
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
}

#welcome-section {
    font-family: "Raleway", sans-serif;
    height: 100vh;
    width: 100%;
    background: var(--welcome-section-background);
    background: linear-gradient(
        339deg,
        rgba(2, 46, 57, 1) 0%,
        rgba(2, 0, 36, 1) 100%
    );
    display: flex;
}

.welcome-container {
    margin: auto;
}

.welcome-text-container {
    display: inline-block;
    text-align: center;
}

.welcome-text-container h1 {
    color: #fff;
    font-size: 5rem;
}

.welcome-text-container h3 {
    color: var(--welcome-subheader);
    font-size: 2rem;
}

#projects {
    background: var(--projects-background);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.projectsContainer {
    width: 100%;
    margin: 5rem auto;
    display: inline-flex;
    padding: 0 10rem;
    justify-content: space-around;
}

.project-tile {
    width: 30rem;
    height: 30rem;
    margin: 1rem 1rem;
}

.project-image-container {
    width: 100%;
    height: calc(100% - 3rem);
}

.projectImage {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
    object-fit: cover;
    object-position: 0 0;
}

.overlay {
    transition: 0.3s ease;
    display: block;
    opacity: 0;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
    padding: 2rem 0;
}

.overlay dt {
    font-size: 1.5rem;
}

.overlay dd {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.project-image-container:hover .projectImage {
    opacity: 0.3;
}

.project-image-container:hover .overlay {
    opacity: 1;
}

.project-title {
    background-color: var(--welcome-section-background);
    height: 3rem;
    color: #fff;
    display: grid;
    grid-template-areas: "ghLink title siteLink";
    grid-template-rows: 0.5fr 2fr 0.5fr;
    justify-content: space-evenly;
    align-items: center;
}

.project-title h4 {
    margin: auto;
    font-size: 2rem;
    font-family: "Simplifica", sans-serif;
    text-transform: uppercase;
}

.project-link {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    text-decoration: none;
    mix-blend-mode: lighten;
    visibility: hidden;
    transition: .3s ease-in-out;
    color: #fff;
}

.hidden {
    visibility: hidden !important;
}

.project-github-link {
    grid-area: ghLink;
}

.project-site-link {
    grid-area: siteLink;
}

.project-tile:hover .project-link {
    visibility: visible;
}

#profile-link {
    width: auto;
    background-color: var(--navbar-background-lighter);
    border-radius: 0.7rem;
    color: #fff;
    transform: scale(1.3);
    transition: 0.3s ease;
}

#profile-link:hover {
    background: rgba(172, 18, 74, 0.5);
}

#contact-section {
    width: 100%;
    height: 100%;
    background-color: var(--contact-section-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

#contact-section h1 {
    font-size: 4rem;
}

#contact-section h3 {
    font-size: 1.5rem;
}

#contact-list {
    width: 30%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

#contact-list a {
    transition: .3s ease;
    text-decoration: none;
    color: #fff;
}

#contact-list a:hover {
    transform: translateY(20%);
}

@media only screen and (max-width: 1315px) {
    .project-tile {
        margin: auto;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 700px) {
    #welcome-section {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .project-tile {
        width: 20rem;
    }

    .project-title h4 {
        font-size: 1.5rem;
    }

    .project-title a {
        font-size: 0.8rem;
    }
}